[data-testid="stAppViewContainer"] {
    background: linear-gradient(to bottom,   
        #FFF3E6 0%,   
        #D9F0FF 20%,  
        #A7D8FF 45%, 
        #FFD6A6 70%,  
        #8EA7D9 85%);
    color: #005969;   
}

h1 {
    font-size: 200px;              
    font-weight: bold;      
    text-align: center;     
    margin-bottom: 20px;   
}

.previsao-container {
    display: flex;
    flex-wrap: wrap;      
    gap: 15px;
    justify-content: center;
    overflow-x: auto; 
    margin: 0 auto;      
}


.previsao-box {
    background-color: rgba(58,138,175,0.2);
    border-radius: 10px; 
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    width: 500px;          /* desktop */
    max-width: 90vw;       /* celular */
    margin: 0 auto;        /* centraliza */
}

.previsao-box .texto {
    display: flex;
    flex-direction: column;
}

.previsao-box .texto h1 {
    font-size: 50px;      /* PC */
    margin: 0;
}

.previsao-box .texto h3 {
    margin: 0;
    font-size: 40px;    
    color: #ffffff;     
    font-weight: bold;   
}

.previsao-box .texto p {
    margin: 0;
    font-size: 24px;     
    color: #ffffff;      
}

.previsao-box img.icon {
    height: 150px;  
    width: auto;
}

.previsao-box-mini {
    background-color: rgba(58,138,175,0.2);
    border-radius: 10px;
    padding: 10px;
    display: flex;     
    align-items: center;
    width: 400px;       
    max-width: 90vw;     
    gap: 10px;
    margin: 0 auto;      /* centraliza horizontalmente */
}

.previsao-box-mini .texto {
    display: flex;
    flex-direction: column;
}

.previsao-box-mini .texto span:first-child {
    font-weight: bold;
}


[data-testid="stPlotlyChart"] {
    width: 100% !important;  
    height: auto !important;
}


@media (min-width: 768px) {
    [data-testid="stPlotlyChart"] {
        max-width: 500px;    /* PC */
    }
    .previsao-box, .previsao-box-mini {
        width: 500px;      
    }
}

@media (max-width: 767px) {
    [data-testid="stPlotlyChart"] {
        max-width: 400px;    /* celular */
    }
    .previsao-box {
        flex-direction: column;   /* vertical no celular */
        align-items: center;
    }
    .previsao-box .texto h1 {
        font-size: 36px;
        text-align: center;
    }
    .previsao-box .texto h3,
    .previsao-box .texto p {
        font-size: 18px;
        text-align: center;
    }
    .previsao-box img.icon {
        height: 120px;
        margin-top: 10px;
    }
    .previsao-box-mini {
        width: 90vw;
    }
}

/* ===== Reset geral ===== */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}
